<div class="row">
  <div class="col-xs-12 padding-0">
    <div class="jumbotron jumbotron-home jumbotron-inverse">
      <div class="container">
        <div class="row">
          <div class="col-sm-offset-2 col-sm-8">
            <h1 class="jumbotron-title text-center">Making your shopping list</h1>
            <p class="jumbotron-lead">
              A place where users explore, share and buy their collections of fashion products.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-12">
    <div class="container">
      <div class="row py-5">
        <div class="col-sm-4">
          <h3 class="display-heading">Unlimited shopping lists</h3>
        </div>
        <div class="col-sm-8">
          <p>All of our lists on Gumhoo.com now are free.<br>
          Sign up to get started or read more about this feature on the help page.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row shade-gray">
  <div class="col-sm-12 text-center pt-6">
    <h2 class="display-heading row-space-6 pb-4">Welcome, shopping mania girls<br>
      <small>Make shopping more socially. Give friends your unique options.</small>
    </h2>
  </div>
  <div class="col-xs-12 tile-block">
    <div class="container">
      <div class="row">
        <div class="col-sm-3 tile-bordered text-center">
          <span class="glyphicon glyphicon-phone" aria-hidden="true"></span>
          <h4 class="display-heading">Find mobile app now</h4>
          <p>Download on Google Play</p>
        </div>
        <div class="col-sm-3 tile-bordered text-center">
          <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
          <h4 class="display-heading">Making shopping lists</h4>
          <p>Shopping online everywhere you are</p>
        </div>
        <div class="col-sm-3 tile-bordered text-center">
          <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
          <h4 class="display-heading">Sharing information</h4>
          <p>Can't wait to tell friends what you like</p>
        </div>
        <div class="col-sm-3 tile-bordered text-center">
          <span class="glyphicon glyphicon-camera" aria-hidden="true"></span>
          <h4 class="display-heading">For everything you build</h4>
          <p>Can't wait to tell friends what you like</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="container">
      <div class="row row py-5">
        <div class="col-sm-6 col-sm-offset-3 text-center">
          <h3 class="display-heading row-space-2">DEMO US Conference</h3>
          <div class="embed-responsive embed-responsive-16by9">
            <iframe src="https://www.youtube.com/embed/rBapikorJ6c?rel=0" frameborder="0"></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
