// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.jumbotron {
  margin: 0;
  min-height: 400px;
  text-align: left;
  padding-bottom: 180px;
  padding-top: 180px;
  &:before {
    background-color: rgba(0, 0, 0, 0.3);
    bottom: 0;
    content: "";
    display: block;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: background-color 0.2s ease-out 0s;
  }
  .jumbotron-title,
  .jumbotron-lead {
    color: #fff;
    text-shadow: 0 1px 1px rgba(0,0,0,0.25),0 1px 30px rgba(0,0,0,0.75);
  }
}

.jumbotron-home {
  background-image: asset-data-url("home-hero.jpg");
  background-position: left bottom;
  border-radius: 0 !important;
  &:after {
    background-color: rgba(0, 0, 0, 0.25);
  }
}

.jumbotron-inverse {
  color: #fff;
  background-color: #333;
}

.display-heading {
  margin-bottom: 0.25em;
  color: #3c4146;
}

.tile-block {
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  .tile-bordered {
    padding-top: 24px;
    padding-bottom: 24px;
    &:not(:last-child) {
      border-bottom: 1px solid #e5e5e5;
    }
    @media screen and (min-width: 768px) {
      border-bottom: 0 !important;
      &:not(:last-child) {
        border-right: 1px solid #e5e5e5;
      }
    }
  }
  .glyphicon {
    font-size: 6em;
    padding: 0.2em 0;
  }
}

#link {
  color: #a7a7a7;
  font-size: 16px;
  font-weight: 600;
  height: 32px;
  line-height: 20px;
  padding: 6px 8px;
}
